$main-font-stack: "Montserrat", sans-serif;

$headline-font: 'Kaushan Script', cursive;

$secondary-font-stack: 'Roboto', sans-serif;

$main-header-color: #ffffff;

$nav-color: #fce38a;

$section-title-color: #333333;

$subtitle-line-color: #f38181;

$footer-border-color: #e5e5e5;

$footer-form-border-color: #e7e7e7;

$input-placeholder-color: #cccccc;

$footer-batton-color: #95e1d3;

$headline-button-bg-color: rgba(0, 0, 0, 0);

$services-text-color: #999999;
