.site-logo {
  margin: 25px 0 0 0;
  padding: 0;
}

.site-logo__link {
  font-size: 30px;
  font-family: $main-font-stack;
  color: $main-header-color;
  font-weight: bold;
  text-decoration: none;
}
